@import url("https://fonts.googleapis.com/css2?family=Rhodium+Libre&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --bgPrimary: black;
  --bgSecondary: #0e0e0e;
  --bgText: #fff;
  --fgText: #777777;
  --fgPrimary: #3f51b5;
  --fgSecondary: yellow;
  --borderRadius: 5px;
}

* {
  font-family: "Rhodium Libre", serif;
  font-size: min(4vw, 16px);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  color: var(--bgText);
  background-color: var(--bgPrimary);
}

.App {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: auto auto;
  display: flex;
  flex-direction: column;
}

.balance {
  margin: 0;
  line-height: 1;
  font-size: 2rem;
  color: transparent;
  background-image: linear-gradient(
    to left,
    #8e44ad,
    #1abc9c,
    #d35400,
    #34495e,
    #2980b9,
    #f1c40f
  );
  -webkit-background-clip: text;
  animation: animate 5s linear infinite;
  -webkit-background-size: 500%;
  background-size: 500%;
}

@keyframes animate {
  0% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 100%;
  }
}
